@charset "utf-8";

body{
    font-size:36px;
    margin:10px;
    
}
.section{
    border-bottom:1px solid black;
}
.title{
    font-weight:bold;
    font-size:24px;
    
}
.percent{
    color:red;
}
.value{
    color:green;
}
#censusLabelFCC{
        padding:20px;
}
#coordinates{
        padding:20px;
}
#paragraph{
    font-size:36px;
    line-height:120%;
    padding:20px;
}
#map{
    padding:0px;
    margin:0px;
}
#key{
    padding:20px;
    
}
.percentLabel{font-size:24px;}
.barLabel{
    font-size:16px;
}
.axis text {
  font: 14px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.barChart{
    border-bottom:1px solid black;
    padding:10px;
    font-size:16px;
    font-weight:bold;
}
.chartTitle{
    padding-left:20px;
    font-size:30px;
}
.col-sm-4{
    border:1px solid black;
}
path {
  stroke-linejoin: round;
  stroke-linecap: round;
}
.basemap{  fill: none;}
.major_road { stroke: #aaa;  }
.minor_road { stroke: #bbb; }
.highway { stroke: #ccc; stroke-width: 1.5px; }
#geoids{padding:20px;}
.location{fill:#000;}